<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.baronbrew.brewometer"
        version     = "0.0.2" >

    <name>Brewometer</name>
    <description>
        Reads data from your brewometers.  Buy more brewometers here: http://brewometer.net
    </description>
    <author email="info@baronbrew.com" href="http://baronbrew.com">
        Brewometer Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="icon.png" />
    <!-- iPhone 6 / 6+ -->
    <icon src="icon-60@3x.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="icon-60.png" platform="ios" width="60" height="60" />
    <icon src="icon-60@2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icon-76@2x.png" platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="icon-small.png" platform="ios" width="29" height="29" />
    <icon src="icon-small@2x.png" platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="icon-40.png" platform="ios" width="40" height="40" />
    <icon src="icon-40@2x.png" platform="ios" width="80" height="80" />

    <splash src="splash.png" />

</widget>
